﻿@using NaftaFileStorage.Extensions
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - NaftaFileStorage</title>
        <base href="/" />
        <link href="~/dist/vendor.css" rel="stylesheet" />
        <link href="~/site.css" rel="stylesheet" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
