﻿<div *ngIf="user">
    <div class="jumbotron">
        <h1 class="display-4">{{user.fullName}}</h1>
        <h4>{{user.userName}}</h4>
        <ul class="nav nav-pills" *ngIf="user.permission>=3">
            <li class="nav-item">
                <button class="btn btn-link" (click)="lgModal.show()"><i class="fa fa-edit"></i>Редагувати</button>
            </li>
            <li class="nav-item" *ngIf="user.permission==4">
                <button class="btn btn-link" (click)="onDelete()"><i class="fa fa-trash"></i>Видалити</button>
            </li>
        </ul>
    </div>

    <h3>Додаткова інформація</h3>
    <div class="card">
        <div *ngIf="user.email">
            <span class="strong">Електронна адреса:</span> user.email
        </div>
        <div *ngIf="user.phoneNumber">
            <span class="strong">Номер телефону:</span> user.phoneNumber
        </div>
    </div>

    <div *ngIf="group?.length > 0">
        <h3>{{groups.length == 1 ? "Група" : "Групи"}}</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               *ngFor="let group of groups" routerLink="['/group', group.id]">{{group.name}}</a>
        </div>
    </div>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    Керування профілем
                </div>
                <div class="modal-body">
                    <div>
                        <tabset #staticTabs>
                            <tab heading="Редагування даних">
                                <div class="container pt-3">
                                    <user-edit [user]="user" [id]="id"></user-edit>
                                </div>
                            </tab>
                            <tab heading="Зміна паролю">
                                <div class="container pt-3">
                                    <change-password [id]="id"></change-password>
                                </div>
                            </tab>
                            <tab heading="Зміна email">
                                <div class="container pt-3">
                                    <change-email [id]="id"></change-email>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>