﻿<div class="mb-3">
    <form #fileForm="ngForm" (ngSubmit)="onSubmit(fileForm)" class="card form-group m-0">
        <div class="card-header">
            <div class="input-group">
                <label class="d-inline-block fileContainer mb-0 mr-2">
                    <button class="btn btn-success">Обрати файли...</button>
                    <input type="file"
                           (change)="onChange($event)"
                           multiple>
                </label>
                <button *ngIf="pendingFiles.length > 0"
                        type="submit" class="d-inline-block btn btn-success mb-0">
                    Надіслати
                </button>
                <span class="align-self-center ml-1" *ngIf="pendingFiles.length + uploadedFiles.length > 0">
                    Завантажено файлів: {{uploadedFiles.length}} з {{pendingFiles.length + uploadedFiles.length}}
                </span>
            </div>
        </div>
        <div class="progress" *ngIf="isUploading">
            <div class="progress-bar" role="progressbar"
                 [style.width]="uploadProgress + '%'"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div *ngIf="pendingFiles.length + uploadedFiles.length > 0">
            <table class="table table-bordered m-0">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th>Назва файлу</th>
                        <th>Розмір</th>
                        <th>Статус</th>
                        <th>Видалити</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr *ngFor="let file of pendingFiles; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td>Очікується</td>
                        <td><button type="button" class="btn text-danger btn-link m-0 p-0" (click)="removePending(i)">Видалити</button></td>
                    </tr>
                    <tr *ngFor="let file of uploadedFiles; let i = index" class="table-success">
                        <th scope="row">{{i + pendingFiles.length + 1}}</th>
                        <td>{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td>Завантажено</td>
                        <td><button type="button" class="btn text-danger btn-link m-0 p-0" (click)="removeUploaded(i)">Видалити</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </form>
</div>
