﻿<h2 class="mb-4">Реєстрація користувача</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    <div class="form-group card p-3">
        <div class="row">
            <!-- Ім'я -->
            <div class="col-md-6">
                <label for="firstName">Ім'я</label>
                <input formControlName="firstName"
                       type="text" class="form-control" id="firstName" name="firstName" />
                <!-- Валідація -->
                <div *ngIf="userForm.controls.firstName.errors && (userForm.controls.firstName.dirty || userForm.controls.firstName.touched)">
                    <small [hidden]="!userForm.controls.firstName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
                    <small [hidden]="!userForm.controls.firstName.errors.maxlength" class="form-text text-danger">ім'я не може бути довшим, ніж 25 символів</small>
                    <small [hidden]="!userForm.controls.firstName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту та символи дефісу(-) та крапки(.)</small>
                </div>
            </div>
            <!-- Прізвище -->
            <div class="col-md-6">
                <label for="lastName">Прізвище</label>
                <input formControlName="lastName"
                       type="text" class="form-control" id="lastName" name="lastName" />
                <div *ngIf="userForm.controls.lastName.errors && (userForm.controls.lastName.dirty || userForm.controls.lastName.touched)">
                    <small [hidden]="!userForm.controls.lastName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
                    <small [hidden]="!userForm.controls.lastName.errors.maxlength" class="form-text text-danger">прізвище не може бути довшим, ніж 25 символів</small>
                    <small [hidden]="!userForm.controls.lastName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту та символи дефісу(-) та крапки(.)</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Логін -->
    <div class="form-group card p-3">
        <label for="userName">Логін</label>
        <input formControlName="userName"
               id="userName" name="userName" type="text" class="form-control" />
        <div *ngIf="userForm.controls.userName.errors && (userForm.controls.userName.dirty || userForm.controls.userName.touched)">
            <small [hidden]="!userForm.controls.userName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
            <small [hidden]="!userForm.controls.userName.errors.minlength" class="form-text text-danger">логін повинен містити не менше 6 символів</small>
            <small [hidden]="!userForm.controls.userName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту, цифри та символи нижнього підкреслення(_) та дефісу(-)</small>
        </div>
    </div>
    <!-- Пароль -->
    <div class="form-group card p-3">
        <label for="password">Пароль</label>
        <input formControlName="password"
               id="password" name="password" type="password" class="form-control" />
        <div *ngIf="userForm.controls.password.errors && (userForm.controls.password.dirty || userForm.controls.password.touched)">
            <small [hidden]="!userForm.controls.password.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
            <small [hidden]="!userForm.controls.password.errors.minlength" class="form-text text-danger">пароль повинен містити не менше 6 символів</small>
            <small [hidden]="!userForm.controls.password.errors.pattern" class="form-text text-danger">можна використати тільки символи латинського алфавіту та нижнього підкреслення(_)"</small>
        </div>
        <!-- Повторення пароля -->
        <label for="password" class="mt-2">Підтвердження пароля</label>
        <input formControlName="passwordConfirm"
               id="password_confirm" type="password" class="form-control" />
        <small [hidden]="userForm.controls.password.value==userForm.controls.passwordConfirm.value" class="form-text text-danger">паролі не співпадають</small>
    </div>

    <!-- Роль -->
    <div class="form-group card p-3">
        <label for="role">Роль користувача</label>
        <input type="text" id="role" class="form-control" placeholder="{{defRole}}"
               [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
               (selectItem)="roleSelected($event)" />
    </div>

    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>

    <button class="btn btn-success" [disabled]="userForm.invalid">Надіслати</button>

</form>
<template #rt let-r="result" let-t="term">
    {{ r.value }}
</template>