﻿<form [formGroup]="userEditForm" (ngSubmit)="onSubmit(userEditForm)" novalidate>
    <div class="form-group">
        <div class="row">
            <!-- Ім'я -->
            <div class="col-md-6">
                <label for="firstName">Ім'я</label>
                <input formControlName="firstName"
                       type="text" class="form-control" id="firstName" name="firstName" />
                <!-- Валідація -->
                <div *ngIf="userEditForm.controls.firstName.errors && (userEditForm.controls.firstName.dirty || userEditForm.controls.firstName.touched)">
                    <small [hidden]="!userEditForm.controls.firstName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
                    <small [hidden]="!userEditForm.controls.firstName.errors.maxlength" class="form-text text-danger">ім'я не може бути довшим, ніж 25 символів</small>
                    <small [hidden]="!userEditForm.controls.firstName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту та символи дефісу(-) та крапки(.)</small>
                </div>
            </div>
            <!-- Прізвище -->
            <div class="col-md-6">
                <label for="lastName">Прізвище</label>
                <input formControlName="lastName"
                       type="text" class="form-control" id="lastName" name="lastName" />
                <div *ngIf="userEditForm.controls.lastName.errors && (userEditForm.controls.lastName.dirty || userEditForm.controls.lastName.touched)">
                    <small [hidden]="!userEditForm.controls.lastName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
                    <small [hidden]="!userEditForm.controls.lastName.errors.maxlength" class="form-text text-danger">прізвище не може бути довшим, ніж 25 символів</small>
                    <small [hidden]="!userEditForm.controls.lastName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту та символи дефісу(-) та крапки(.)</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Логін -->
    <div class="form-group">
        <label for="userName">Логін</label>
        <input formControlName="userName"
               id="userName" name="userName" type="text" class="form-control" />
        <div *ngIf="userEditForm.controls.userName.errors && (userEditForm.controls.userName.dirty || userEditForm.controls.userName.touched)">
            <small [hidden]="!userEditForm.controls.userName.errors.required" class="form-text text-danger">поле не може бути порожнім</small>
            <small [hidden]="!userEditForm.controls.userName.errors.minlength" class="form-text text-danger">логін повинен містити не менше 6 символів</small>
            <small [hidden]="!userEditForm.controls.userName.errors.pattern" class="form-text text-danger">можна використати тільки символи українського та латинського алфавіту, цифри та символи нижнього підкреслення(_) та дефісу(-)</small>
        </div>
    </div>

    <!-- Номер телефону -->
    <div class="form-group">
        <label for="phoneNumber">Номер телефону</label>
        <input formControlName="phoneNumber"
               id="phoneNumber" name="phoneNumber" type="text" class="form-control" />
        <div *ngIf="userEditForm.controls.phoneNumber.errors && (userEditForm.controls.userName.dirty || userEditForm.controls.userName.touched)">
            <small [hidden]="!userEditForm.controls.phoneNumber.errors.pattern" class="form-text text-danger">можна використати тільки цифри та знак мінусу (-)</small>
        </div>
    </div>

    <!-- Роль -->
    <div class="form-group">
        <label for="role">Роль користувача</label>
        <input type="text" id="role" class="form-control" placeholder="{{defRole}}"
               [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
               (selectItem)="roleSelected($event)" />
    </div>

    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>

    <button class="btn btn-success" [disabled]="userEditForm.invalid">Надіслати</button>

</form>
<template #rt let-r="result" let-t="term">
    {{ r.value }}
</template>