﻿<h3>Навчальні кімнати</h3>
<div class="list-group" *ngIf="rooms">
    <a class="list-group-item list-group-item-action"
       *ngFor="let room of rooms" [routerLink]="['/room', room.id]">{{fullName(room)}}</a>
</div>

<a class="btn btn-link" [routerLink]="['/room', 'new']">Додати кімнату</a>