﻿<div class="justify-content-center rounded p-1 mt-2 mr-1 bg-info" style="display:inline-block">
    <div style="display:inline" class="text-white">
        {{value}}
    </div>
    <button type="button" class="close ml-1" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>