﻿<div class="input-group w-100 justify-content-between file-panel">
    <span class="strong d-inline-flex"><file-icon [extension]="fileExtension"></file-icon>  {{file.name}}</span>
    <div class="d-inline-flex">
        <label class="d-inline-flex fileContainer mb-0 mr-2">
            <button class="btn btn-orange circle-btn"><i class="fa fa-upload"></i><span class="hidden-sm-down">Замінити файл</span></button>
            <input type="file" (change)="onChange($event)">
        </label>
        <file-download path="{{file.path}}"></file-download>
    </div>
</div>

<div *ngIf="!file">
    <label class="d-inline-block fileContainer mb-0 mr-2">
        <button class="btn btn-outline-secondary">Завантажте файл</button>
        <input type="file" (change)="onChange($event)">
    </label>
</div>
<!-- Progress bar -->
<div class="progress" *ngIf="isUploading">
    <div class="progress-bar" role="progressbar"
         [style.width]="uploadProgress + '%'"
         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>