﻿<div id="main-wrapper" class="">
    <nav-menu></nav-menu>
    <div class="row pt-2 mw-100">
        <div id="main-content" class="col-sm-9">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div id="active-info" class="col-sm-3 p-0">
            <active-info></active-info>
        </div>
    </div>
    <footer-bar></footer-bar>
</div>