﻿<h3>Дисципліни</h3>
<div class="list-group" *ngIf="subjects">
    <a class="list-group-item list-group-item-action"
       *ngFor="let subject of subjects" [routerLink]="['/subject', subject.id]">{{subject.name}}
    </a>
</div>
<a class="btn btn-link" routerLink="/add_subject">Додати дисципліну</a>