﻿<h2>Додавання дисципліни</h2>
<form [formGroup]="subjectForm" (ngSubmit)="onSubmit(subjectForm)" novalidate>
    <div class="form-group card p-3" [ngClass]="{'has-danger' : subjectForm.controls.name.errors && subjectForm.controls.name.touched}">
        <label for="name">Назва</label>
        <input type="text" id="name" name="name" class="form-control" formControlName="name"
               required />
        <small [hidden]="!subjectForm.controls.name.errors || subjectForm.controls.name.untouched" class="form-text text-danger">поле не може бути порожнім</small>
    </div>

    <div class="form-group card p-3" [ngClass]="{'has-danger' : subjectForm.controls.description.error && subjectForm.controls.description.touched}">
        <label for="description">Опис</label>
        <textarea formControlName="description" id="description" name="description"
                  class="form-control" rows="5"></textarea>
        <small [hidden]="!subjectForm.controls.description.errors || subjectForm.controls.description.untouched" class="form-text text-danger">поле не може бути порожнім</small>
    </div>

    <!-- Файли -->
    <label for="files">Файли</label>
    <multiple-file-uploader (changed)="fileChange($event)">
    </multiple-file-uploader>

    <div formArrayName="assignments">
        <div *ngFor="let assignments of subjectForm.controls.assignments.controls; let i=index">
            <div [formGroupName]="i">
                <card-form [formGroup]="subjectForm.controls.assignments.controls[i]" title="Завдання #{{i+1}}" (closed)="removeAssignment(i)">
                    <label>Назва</label>
                    <input type="text" name="name" class="form-control"
                           formControlName="name" />
                    <label>Опис</label>
                    <textarea name="description" class="form-control" cols="2"
                              formControlName="description"></textarea>
                </card-form>
            </div>
        </div>
        <button type="button" (click)="addAssignment()" (closed)="removeAssignment(i)" class="btn btn-link d-block p-0">Додати завдання</button>
    </div>
    <hr />
    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>
    {{subjectForm.errors}}
    <div class="alert alert-warning" *ngIf="filesPending">Деякі файли очікують на завантаження. Якщо не завантажити їх на сервер, вони не будуть збережені</div>
    <button class="btn btn-success" [disabled]="!subjectForm.valid">Submit</button>
</form>