﻿<div>
    <h3>Групи</h3>
    <div class="list-group" *ngIf="groups">
        <a class="list-group-item list-group-item-action" 
           *ngFor="let group of groups" [routerLink]="['/group', group.id]">{{group.name}}</a>
    </div>
</div>

<a class="btn btn-link" routerLink="/add_group">Додати групу</a>