﻿<h2>Додавання кімнати</h2>
<form [formGroup]="roomForm" (ngSubmit)="onSubmit(roomForm)" novalidate>
    <!-- Subject -->
    <div class="form-group card p-3">
        <label for="subject">Дисципліна</label>
        <ng2-completer [datasource]="subjectsDataService" (selected)="subjectSelected($event)"
                       inputClass="form-control"
                       placeholder="Почніть вводити назву..."
                       pause="200" [minSearchLength]="1"
                       textNoResults="Нічого не знайдено" textSearching="Пошук...">
        </ng2-completer>
        <span class="small" *ngIf="selectedSubject?.length > 0">Обрано: <strong>{{selectedSubject}}</strong></span>
    </div>

    <!-- Professor -->
    <div class="form-group card p-3">
        <label for="professor">Викладач</label>
        <ng2-completer [datasource]="professorsDataService" (selected)="professorSelected($event)"
                       inputClass="form-control"
                       placeholder="Почніть вводити ім'я..."
                       pause="200" [minSearchLength]="1"
                       textNoResults="Нічого не знайдено" textSearching="Пошук...">
        </ng2-completer>
        <span class="small" *ngIf="selectedProfessor">Обрано: <strong>{{selectedProfessor.fullName}} ({{selectedProfessor.userName}})</strong></span>
    </div>

    <!-- Groups -->
    <div class="form-group card p-3">
        <label for="groups">Групи</label>
        <ng2-completer [datasource]="groupsDataService" (selected)="groupSelected($event)"
                       inputClass="form-control" clearSelected="true"
                       placeholder="Почніть вводити назву..."
                       pause="200" [minSearchLength]="1"
                       textNoResults="Нічого не знайдено" textSearching="Пошук...">
        </ng2-completer>
        <div id="selected-groups">
            <tag *ngFor="let group of selectedGroups" value="{{group}}" (deleted)="removeGroup($event)"></tag>
        </div>
    </div>

    <!-- Files -->
    <label for="files">Файли</label>
    <multiple-file-uploader *ngIf="!id || dataLoaded" (changed)="fileChange($event)" [initiallyUploaded]="uploadedFiles">
    </multiple-file-uploader>

    <div formArrayName="assignments">
        <label for="files">Завдання</label>

        <div *ngFor="let assignments of roomForm.controls.assignments.controls; let i=index">
            <div [formGroupName]="i">
                <card-form [formGroup]="roomForm.controls.assignments.controls[i]" title="Завдання #{{i+1}}" (closed)="removeAssignment(i)">
                    <label>Назва</label>
                    <input type="text" name="name" class="form-control"
                           formControlName="name" />
                    <label>Опис</label>
                    <textarea name="description" class="form-control" cols="2"
                              formControlName="description"></textarea>
                </card-form>
            </div>
        </div>
        <button type="button" (click)="addAssignment()" (closed)="removeAssignment(i)" class="btn btn-link d-block p-0">Додати завдання</button>
        <hr />
    </div>

    <!-- Name -->
    <!--<div class="form-group card p-3" [ngClass]="{'has-danger' : roomForm.controls.name.errors && roomForm.controls.name.touched}">
        <label for="name">Назва</label>
        <div class="input-group">
            <span class="input-group-addon">
                <label class="m-0">
                    <input type="checkbox" formControlName="nameEditable" [value]="nameEditable" (input)="nameEditable = $event.target.value">
                    Редагувати
                </label>
            </span>
            <input type="text" id="name" name="name" class="form-control"
                   [(value)]="roomForm.controls.name.value" formControlName="name" [readonly]="!roomForm.controls.nameEditable.value" required />
        </div>
        <small [hidden]="!roomForm.controls.name.errors || roomForm.controls.name.untouched" class="form-text text-danger">поле не може бути порожнім</small>
    </div>

    <div class="form-group card p-3" [ngClass]="{'has-danger' : roomForm.controls.description.error && roomForm.controls.description.touched}">
        <label for="description">Опис</label>
        <textarea id="description" name="description" class="form-control" rows="5" formControlName="description"></textarea>
    </div>-->

    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>
    <button class="btn btn-success" [disabled]="!roomForm.valid">Надіслати</button>
</form>
