﻿<div class="container">
    <div class="row mt-5">
        <div class="col-md pr-3 mt-sm-5 mt-md-0">
            <h3 class="text-center mb-4">Вітаємо вас в файловому сховищі <strong>ІФНТУНГ</strong></h3>
            <p>Даний сервіс покликаний спростити процес обміну навчальними матеріалами (методичками, лабораторними роботами тощо) в межах університету між студентами та викладачами.</p>
            <p>Студенти можуть зручно отримати доступ до методичних матеріалів, необхідних для виконання навчального плану, а викладачі можуть слідкувати за тим, як студенти виконують свою роботу, завантажувати, переглядати та перевіряти результати роботи студентів у вигляді електронних файлів.</p>
            <p>Можливість користуватися системою надається лише студентам та викладачам ІФНТУНГ, для інших осіб використання сервісу є неможливим</p>
        </div>

        <div class="col-md-4 p-4 card rounded">
            <form #FormData="ngForm" (ngSubmit)="onSubmit(FormData)" novalidate>
                <div class="form-group">
                    <label for="Login">Логін</label>
                    <input type="text" id="Login" name="Login" class="form-control"
                           #Login="ngModel" ngModel required />
                </div>
                <div class="form-group">
                    <label for="Password">Пароль</label>
                    <input type="password" id="Password" name="Password" class="form-control" 
                           #Password="ngModel" ngModel required />
                </div>
                <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
                    <span>{{formState.message}}</span>
                </div>
                <div class="form-group row mb-0 pb-0 align-items-center">
                    <div class="form-check col-lg">
                        <label for="RememberMe" class="form-check-label">
                            <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe" id="RememberMe" class="form-check-input">
                            Запам'ятати мене
                        </label>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 flex-lg-first">
                        <button class="btn btn-success">Увійти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>