﻿<nav class="navbar navbar-nafta navbar-toggleable-sm navbar-light bg-faded m-0">
    <button class="navbar-toggler navbar-toggler-right" type="button" 
            (click)="navbarShown = !navbarShown" [attr.aria-expanded]="!navbarShown" 
            aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Nafta FS </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!navbarShown">
        <ul class="navbar-nav mr-auto topBotomBordersOut">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Головна</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" routerLink="/admin">Адміністрування</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://www.nung.edu.ua/">Університет</a>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto topBotomBordersOut" *ngIf="userName">
            <li class="nav-item" *ngIf="user">
                <a class="nav-link" [routerLink]="['/user', user.id]">Вітаю, {{user.firstName}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor:pointer;" (click)="onLogoutClick()">Вийти</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="!userName">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Увійти</a>
            </li>
        </ul>
</div>
</nav>
