﻿<div *ngIf="room">
    <div class="jumbotron">
        <h1 class="display-4">{{room?.subject?.name}}</h1>
        <p>{{room?.subject?.description}}</p>

        <ul class="nav nav-pills" *ngIf="authService.isAdmin()">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/room', 'edit', id]">Редагувати</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/room', 'edit', id]">Видалити</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/room', 'list']">Всі кімнати</a>
            </li>
        </ul>
    </div>
    <div *ngIf="room.files && room.files.length > 0">
        <h3>Файли</h3>
        <div class="card p-3">
            <table class="table">
                <tr *ngFor="let file of room.files">
                    <td>{{file.name}}</td>
                    <td>{{Math.floor(file.size / 1024)}}Кб</td>
                    <td><file-download path="{{file.path}}"></file-download></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mt-3" *ngIf="room.groups && room.groups.length > 0">
        <h3>{{room.groups.length == 1 ? "Група" : "Групи"}}</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               *ngFor="let group of room.groups" [routerLink]="['/group', group.id]">{{group.name}}</a>
        </div>
    </div>
    <!-- TODO Вивід різної інфи для студентів і викладачів, завантаження файлів -->
    <div class="mt-3" *ngIf="room.assignments && room.assignments.length > 0">
        <h3>Завдання</h3>
        <div class="card mb-2" *ngFor="let assignment of room.assignments">
            <div class="card-header">
                <h3>{{assignment.name}}</h3>
            </div>
            <div class="card-block">
                {{assignment.description}}
                <hr />
                <h4>Файли</h4>
                <div *ngIf="room.permission == 1">
                    <table class="table">
                        <tr *ngFor="let uAssignment of assignment.userAssignments">
                            <td>{{uAssignment.user.fullName}}</td>
                            <td>
                                <file-download [path]="uAssignment.file.path"></file-download>
                            </td>
                        </tr>
                    </table>
                </div>
                <p *ngIf="room.permission == 2">
                    <btn-uploader [file]="assignment.userAssignments[0]?.file" (changed)="onAssignmentFileChange($event, assignment.id)"></btn-uploader>
                </p>
            </div>
        </div>
    </div>

</div>
