﻿<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>
    <div class="form-group">
        <label for="userName">Старий пароль</label>
        <input formControlName="oldPassword"
               id="oldPassword" name="oldPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="userName">Новий пароль</label>
        <input formControlName="newPassword"
               id="newPassword" name="newPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="userName">Повторіть новий пароль</label>
        <input formControlName="newPasswordRepeat"
               id="newPasswordRepeat" name="newPasswordRepeat" type="password" class="form-control" />
    </div>
    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>
    <button class="btn btn-success">Підтвердити</button>
</form>