﻿<form [formGroup]="changeEmailForm" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>

    <div class="form-group">
        <label for="newEmail">Нова електронна адреса</label>
        <input formControlName="newEmail"
               id="newEmail" name="newEmail" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="newEmailRepeat">Повторіть нову електронну адресу</label>
        <input formControlName="newEmailRepeat"
               id="newEmailRepeat" name="newEmailRepeat" type="password" class="form-control" />
    </div>
    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>
    <button class="btn btn-success">Підтвердити</button>
</form>