﻿<nav class="card bg-faded w-100 m-0 p-3 table-bordered">
    <h4 class="d-block">Мої кімнати</h4>
    <div class="list-groups">
        <a class="list-group-item list-group-item-action li-no-border"
           *ngFor="let room of rooms" [routerLink]="['/room', room.id]">{{room.subject.name}}</a>
    </div>
</nav>