﻿<form class="form-group">
    <div class="card">
        <div *ngIf="title" class="card-header align-content-around align-items-center">
            <h4 class="d-inline-block m-0">{{title}}</h4>
            <button *ngIf="closed" (click)="close()"
                    type="button" class="close align-self-center" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-block">
            <ng-content></ng-content>
        </div>
    </div>
</form>
