﻿<div *ngIf="group">
    <div class="jumbotron">
        <h1 class="display-4">{{group.name}}</h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/group', 'edit', id]">Редагувати</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/group', 'list']">Всі групи</a>
            </li>
        </ul>
    </div>
    <div class="mb-3" *ngIf="students && students.length > 0">
        <h3>Студенти</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               *ngFor="let student of students" [routerLink]="['/user', student.id]">{{student.lastName + " " + student.firstName}}</a>
        </div>
    </div>
    <div *ngIf="rooms && rooms.length > 0">
        <h3>Кімнати</h3>
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               *ngFor="let room of rooms" [routerLink]="['/room', room.id]">{{room.name}}</a>
        </div>
    </div>
</div>
