﻿*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    display: inline;
    background-color: #e8e8e8;
}

.row {
}

.jumbotron, .card {
    background-color: #f9f9f9;
    border-radius: 0;
    border: 1px solid #e4e4e4;
}

.table-bordered {
    border: 1px solid #e4e4e4;
}

#main-wrapper {
    position: relative;
    max-width: 100% !important;
    min-height: 100%;
    padding-bottom: 3.5rem;
}

.list-group {
    border-radius: 0;
    border: none;
}

.list-group-item {
    background-color: #f9f9f9;
    transition: all 0.3s;
}

    .list-group-item:hover {
        background-color: #f4f4f4;
    }

    .list-group-item:first-child, .list-group-item:last-child {
        border-radius: 0;
    }


.btn {
    cursor: pointer;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

    .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

.progress-bar {
    background-color: #ffb120;
}

.navbar-nafta {
    background-color: #f9f9f9;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid #e4e4e4
}

    .navbar-nafta ul li a {
        font-size: 1.05em;
        padding-bottom: .8em !important;
        padding-top: .8em !important;
        padding-left: .7em;
        padding-right: .7em;
    }

    .navbar-nafta * {
        color: #333 !important;
    }

ul.topBotomBordersOut li {
    position: relative;
}

    ul.topBotomBordersOut li:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 3px;
        background: #ffb120;
        content: "";
        opacity: 0;
        transition: all 0.3s;
    }

    ul.topBotomBordersOut li:after {
        bottom: 0px;
        transform: translateY(-10px);
    }

    ul.topBotomBordersOut li:hover:after {
        opacity: 1;
        transform: translateY(0px);
    }

.list-group-item-action:before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: #ffb120;
    content: "";
    opacity: 1;
    transition: all 0.2s;
}

.list-group-item-action:hover:before {
    width: 3px;
}

.modal.fade.in {
    opacity: 1;
    transition: .3s;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.fade {
    transition: .3s;
}

.modal-backdrop.fade.in {
    opacity: .7;
}

.file-uploader-btn {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 0.7em;
}

.file-panel {
    background-color: #f4f4f4;
    padding: .5em;
    border: 1px solid #e4e4e4;
}

.circle-btn {
    display: block;
    line-height: 1;
    height:2em;
    min-width:2em;
    padding: 6px;
    border-radius: 1em;
}

.btn-orange {
    border: 2px solid #ffb120;
    background-color: transparent;
}

.btn-orange:hover {
    transition: .5s;
    background-color: #ffb120;
}