﻿<h3>Користувачі</h3>
<sorting-list [template]="myTemplate" [restUrl]="restUrl">
</sorting-list>
<!--<div class="list-group" *ngIf="users">
    <a class="list-group-item list-group-item-action"
       *ngFor="let user of users" [routerLink]="['/user', user.id]">{{user.fullName}}({{user.userName}})</a>
</div>-->
<a class="btn btn-link" routerLink="/add_user">Додати користувача</a>

<template #myTemplate let-item="item">
    <a class="list-group-item list-group-item-action"
       [routerLink]="['/user', item.id]">{{item.fullName}}({{item.userName}})</a>
</template>
