﻿<div class="jumbotron">
    <h2 class="display-4">Вітаємо, адміністраторе!</h2>
    <p>На цій сторінці зібрані посилання на всі наявні сторінки для керування веб-сайтом</p>
</div>
    <h3>Можливі дії</h3>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/subject/list">Список дисциплін</a>
        <a class="list-group-item list-group-item-action" routerLink="/subject/new">Додати дисципліну</a>
        <a class="list-group-item list-group-item-action" routerLink="/group/list">Список груп</a>
        <a class="list-group-item list-group-item-action" routerLink="/group/new">Додати групу</a>
        <a class="list-group-item list-group-item-action" routerLink="/room/list">Список навчальних кімнат</a>
        <a class="list-group-item list-group-item-action" routerLink="/room/new">Додати навчальну кімнату</a>
        <a class="list-group-item list-group-item-action" routerLink="/user/list">Список користувачів</a>
        <a class="list-group-item list-group-item-action" routerLink="/user/new">Додати користувача</a>
    </div>