﻿<h2 class="mb-4" *ngIf="id">Редагування групи</h2>
<h2 class="mb-4" *ngIf="!id">Додавання групи</h2>
<form [formGroup]="groupForm" (ngSubmit)="onSubmit(groupForm)" novalidate>
    <div class="form-group card p-3" [ngClass]="{'has-danger' : groupForm.controls.name.errors && groupForm.controls.name.touched}">
        <label for="Name">Назва</label>
        <input type="text" id="Name" name="Name" formControlName="name" class="form-control" required />
        <small [hidden]="!groupForm.controls.name.errors || groupForm.controls.name.untouched" class="form-text text-danger">поле не може бути порожнім</small>
    </div>

    <!-- Староста -->
    <div class="form-group card p-3">
        <label for="monitor">Староста</label>
        <ng2-completer [datasource]="monitorDataService" (selected)="monitorSelected($event)"
                       inputClass="form-control" pause="200" [minSearchLength]="1"
                       textNoResults="Нічого не знайдено" textSearching="Пошук...">
        </ng2-completer>
        <span class="small" *ngIf="monitor">Обрано: <strong>{{monitor.fullName}} ({{monitor.userName}})</strong></span>
    </div>

    <!-- Студенти -->
    <div class="form-group card p-3">
        <label for="students">Студенти</label>
        <ng2-completer [datasource]="studentsDataService" (selected)="studentSelected($event)"
                       inputClass="form-control" clearSelected="true"
                       pause="200" [minSearchLength]="1"
                       textNoResults="Нічого не знайдено" textSearching="Пошук...">
        </ng2-completer>

        <!-- TODO: Remove confirmation??? -->
        <ul *ngIf="selectedStudents != null" class="list-group mb-2 mt-2">
            <li class="list-group-item list-group-item-action justify-content-between"
                *ngFor="let user of selectedStudents; let i = index">
                <a [routerLink]="['/user', user.id]">{{user.firstName + " " + user.lastName}} ({{user.userName}})</a>

                <button (click)="removeStudent(i)" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        </ul>
    </div>

    <div *ngIf="formState.submited==true" class="mb-2 alert {{formState.getAlertClass()}}">
        <span>{{formState.message}}</span>
    </div>

    <button class="btn btn-success" [disabled]="groupForm.invalid">Submit</button>
</form>