﻿<nav class="bg-faded container w-100">
    <div class="row">
        <div class="input-group mb-2 mb-sm-0 rounded-bottom">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input class="form-control d-inline" placeholder="Почніть вводити запит"
                   [(ngModel)]="query" (keyup)="onQueryChanged($event.target.value)" />
        </div>
    </div>
    <div class="p-2">
        <label>Кількість результатів</label>
        <select name="select" id="select" [(ngModel)]="take" (change)="onTakeChange($event.target.value)" class="custom-select custom-select-sm">
            <option *ngFor="let item of takeOptions" [ngValue]="item">
                {{item}}
            </option>
        </select>
        |
        <label>Сортування</label>
        <button class="btn btn-secondary" (click)="onSortChange()">
            <i class="fa fa-sort-alpha-asc" [ngClass]="{'fa': true, 'fa-sort-alpha-asc': sort!='desc', 'fa-sort-alpha-desc': sort=='desc'}"></i>
        </button>
    </div>
</nav>

<div class="list-group" *ngIf="items">
    <template *ngFor="let item of items" [ngTemplateOutlet]="template || defaultTemplate" [ngOutletContext]="{item: item}">
    </template>
</div>

<hr />
<button *ngIf="canLoad" class="btn btn-success" (click)="loadMore()">
    Завантажити ще
</button>