﻿<div class="jumbotron">
    ﻿<h1>Вітаємо в файловому сховищі ІФНТУНГ</h1>
</div>
<div class="card p-3" *ngIf="user">
    Ви авторизовані як <a [routerLink]="['/user', user.id]">{{user.fullName}}</a>
</div>
 